
.JTextFields, .DatePicker{
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 4;
}

.VBoxYesterday{
    -fx-background-color: linear-gradient(to bottom right, #864AF9, #DCF2F1);
}
.VBoxToday{
    -fx-background-color: linear-gradient(to bottom right, #7E2553, #DCF2F1);
}
.VBoxTomorrow{
    -fx-background-color: linear-gradient(to bottom right, #7FC7D9, #DCF2F1);
}

/*.btnView:pressed{
    -fx-background-color: linear-gradient(to left, #FFD0EC, #E8C872);
}*/
.btnView:hover{
    /*-fx-background-color: linear-gradient(to right, #FF9843, #FFCF81);*/
    -fx-background-color: linear-gradient(to left, #FFD0EC, #E8C872);
}

.btnView{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 18px;
    /*-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );*/
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 4, 0, 0, 1);
}

.BackgroundTransparent{
    -fx-background-color: transparent;
}

.btn:hover{
    -fx-background-color: #72347F;
    -fx-text-fill: #FFFFFF;
}

/*.btn:pressed{
    -fx-background-color: #BBBBBB;
}*/

.btn:focused{
    -fx-background-color: #72347F;
    -fx-text-fill: #FFFFFF;
}

.txtJTextFields{
    -fx-border-color: #000;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border: none;
}

.shadowBox{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
    -fx-border-color: #000;
    -fx-border-width: 0 1 0 0;
    /*-fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );*/
}

.shadowBox1{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

.btnExit{
    -fx-background-color: transparent;
}
.btnExit:hover{
    -fx-background-color: #72347F;
    -fx-text-fill: #FFFFFF;
}

.btnUpdate{
    -fx-background-color: #FF9843;
}
.btnUpdate:hover{
    -fx-background-color: #FFBC53;
    -fx-text-fill: #FFFFFF;
}

.btnDelete{
    -fx-background-color: #D24545;
}
.btnDelete:hover{
    -fx-background-color: #F3364A;
    -fx-text-fill: #FFFFFF;
}

.combo-box .list-cell
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    /*-fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; */
}

.btnNext{
    -fx-background-color:  #FFCC01;
}

.btnNext:hover, btnNext:focused {
    -fx-background-color: #8E7AB5;
    -fx-text-fill: #FFFFFF;
}

.btnCancel{
    -fx-background-color:  #CCCCCC;
}

.btnCancel:hover, btnCancel:focused {
    -fx-background-color: #211951;
    -fx-text-fill: #FFFFFF;
}